.root {
  padding-top: rem(80px);
  padding-bottom: rem(80px);
}

.errorTitleContainer {
  text-align: center;

  .errorCode {
    font-weight: 900;
    font-size: rem(38px);
    color: var(--mantine-color-red-7);
    @media (max-width: $mantine-breakpoint-sm) {
      font-size: rem(32px);
    }
  }

  .errorTitle {
    font-size: rem(32px);
    color: var(--mantine-color-red-5);
    margin-bottom: calc(1.5 * var(--mantine-spacing-xs));

    @media (max-width: $mantine-breakpoint-sm) {
      font-size: rem(26px);
    }
  }

  .errorCode::before,
  .errorCode::after {
    content: " — ";
  }
}

.title {
  text-align: center;
  font-weight: 900;
  font-size: rem(38px);
  color: var(--mantine-color-gray-7);

  @media (max-width: $mantine-breakpoint-sm) {
    font-size: rem(32px);
  }
}

.description {
  max-width: rem(500px);
  margin: auto;
  margin-top: var(--mantine-spacing-xl);
}
